doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Калькулятор
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic' rel='stylesheet')
		link(rel="stylesheet" href="style.css")
	body
		.container
			.calculator
				.calculator__title
					h1 Калькулятор расчёта стоимости турпутёвки турагентом для клиента
				.calculator__items_wrapper
					.calculator__item
						label(for="rateUsd" class="item__title") Стоимость турпутёвки от туроператора:
						input(type="text" id="rateUsd" data-cur="usd" class="form-control" aria-describedby="rateUsdHolder" value="0")
						input(type="text" id="rateMyr" data-cur="myr" class="form-control" aria-describedby="rateMyrHolder" value="0")
						input(type="range" class="form-control-range" id="rateRange" min="0" max="1000000")
					.calculator__item
						label(for="comissionUsd" class="item__title") 10% комиссия турагента:
						input(type="text" id="comissionUsd" class="form-control" aria-describedby="comissionUsdHolder" value="0")
						input(type="text" id="comissionMyr" class="form-control" aria-describedby="comissionMyrHolder" value="0")
						input(type="range" class="form-control-range" id="comissionRange" min="0" max="1000000")
					.calculator__item
						label(for="bonus" class="item__title") Бонусы
						input(type="text" id="bonus" class="form-control" aria-describedby="bonusHolder" value="500" disabled)
						small(id="bonusHolder" class="form-text text-muted") * бонусы начисляются при сумме комиссии более 100 USD (444 MYR)
				hr
				.calculator-footer
					.my-result
						.my-result__title Итоговая стоимость турпутёвки для клиента:
						.my-result__item
							span(id="paymentUsd") 0
							| &nbsp;USD
						.my-result__item
							span(id="paymentMyr") 0
							| &nbsp;MYR
					small(class="form-text text-muted")
						span(id="bonusTotal") 0
						| &nbsp;бонусов начислено
	footer
		script(type="text/javascript" src="script.js")