doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title Калькулятор
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic' rel='stylesheet')
		link(rel="stylesheet" href="style.css")
	body
		.container
			.calculator
				.calculator__title
					h1 Калькулятор расчёта стоимости турпутёвки турагентом для клиента
				.calculator__items_wrapper
					.calculator__item
						.item__title Стоимость турпутёвки от туроператора:
						.calculator__input
							input(type="text" id="rateUsd" class="rangeParentUsd" value="0")
							label(for="rateUsd") USD
						.calculator__input
							input(type="text" id="rateMyr" class="rangeParentMyr" value="0")
							label(for="rateMyr") MYR
						input(type="range" id="rateRange" value="0" step="10" min="0" max="1000000")
					.calculator__item
						.item__title 10% комиссия турагента:
						.calculator__input
							input(type="text" id="comissionUsd" class="rangeParentUsd" value="0")
							label(for="comissionUsd") USD
						.calculator__input
							input(type="text" id="comissionMyr" class="rangeParentMyr" value="0")
							label(for="comissionMyr") MYR
						input(type="range" value="0" step="10" id="comissionRange" min="0" max="100000")
					.calculator__item
						label(for="bonus" class="item__title") Бонусы
						input(type="text" id="bonus" value="500" disabled)
						small(id="bonusHolder" class="form-text text-muted") * бонусы начисляются при сумме комиссии более 1000 USD (4440 MYR)
				hr
				.calculator-footer
					.my-result
						.my-result__title Итоговая стоимость турпутёвки для клиента:
						.my-result__item
							span(id="paymentUsd" data-cur="usd" ) 0
							| &nbsp;USD
						.my-result__item
							span(id="paymentMyr" data-cur="myr" ) 0
							| &nbsp;MYR
					small(class="form-text text-muted")
						span(id="bonusTotal") 0
						| &nbsp;бонусов начислено
	footer
		script(type="text/javascript" src="script.js")